<a class='dropdown-button btn variable' data-beloworigin="true" href='#' data-activates='dropdown1'>Choose Variables</a>
<ul id='dropdown1' class='dropdown-content'required>
        <p>
                <input type="checkbox" id="test" onClick="toggle(this)" value="Check all boxes"/>
                <label for="test">Check all boxes</label>
        </p>
        
        <p>
        <input type="checkbox" id="test1" name=<%= rorq%>[varChoose]" value="Hs"/>
        <label for="test1">Hs</label>
        </p>
        <p>
        <input type="checkbox" id="test2" name=<%= rorq%>[varChoose]" value="tau"/>
        <label for="test2">tau</label>
        </p>
        <p>
        <input type="checkbox" id="test3" name=<%= rorq%>[varChoose]" value="u_star"/>
        <label for="test3">u_star</label>
        </p>
        <p>
        <input type="checkbox" id="test4" name=<%= rorq%>[varChoose]" value="Ts_stdev"/>
        <label for="test4">Ts_stdev</label>
        </p>
        <p>
        <input type="checkbox" id="test5" name=<%= rorq%>[varChoose]" value="Ts_Ux_cov"/>
        <label for="test5">Ts_Ux_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test6" name=<%= rorq%>[varChoose]" value="Ts_Uy_cov"/>
        <label for="test6">Ts_Uy_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test7" name=<%= rorq%>[varChoose]" value="Ts_Uz_cov"/>
        <label for="test7">Ts_Uz_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test8" name=<%= rorq%>[varChoose]" value="Ux_stdev"/>
        <label for="test8">Ux_stdev</label>
        </p>
        <p>
        <input type="checkbox" id="test9" name=<%= rorq%>[varChoose]" value="Ux_Uy_cov"/>
        <label for="test9">Ux_Uy_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test10" name=<%= rorq%>[varChoose]" value="Ux_Uz_cov"/>
        <label for="test10">Ux_Uz_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test11" name=<%= rorq%>[varChoose]" value="Uy_stdev"/>
        <label for="test11">Uy_stdev</label>
        </p>
        <p>
        <input type="checkbox" id="test12" name=<%= rorq%>[varChoose]" value="Uy_Uz_cov"/>
        <label for="test12">Uy_Uz_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test13" name=<%= rorq%>[varChoose]" value="Uz_stdev"/>
        <label for="test13">Uz_stdev</label>
        </p>
        <p>
        <input type="checkbox" id="test14" name=<%= rorq%>[varChoose]" value="wnd_spd"/>
        <label for="test14">wnd_spd</label>
        </p>
        <p>
        <input type="checkbox" id="test15" name=<%= rorq%>[varChoose]" value="rslt_wnd_spd"/>
        <label for="test15">rslt_wnd_spd</label>
        </p>
        <p>
        <input type="checkbox" id="test16" name=<%= rorq%>[varChoose]" value="wnd_dir_sonic"/>
        <label for="test16">wnd_dir_sonic</label>
        </p>
        <p>
        <input type="checkbox" id="test17" name=<%= rorq%>[varChoose]" value="std_wnd_dir"/>
        <label for="test17">std_wnd_dir</label>
        </p>
        <p>
        <input type="checkbox" id="test18" name=<%= rorq%>[varChoose]" value="wnd_dir_compass"/>
        <label for="test18">wnd_dir_compass</label>
        </p>
        <p>
        <input type="checkbox" id="test19" name=<%= rorq%>[varChoose]" value="Ux_Avg"/>
        <label for="test19">Ux_Avg</label>
        </p>
        <p>
        <input type="checkbox" id="test20" name=<%= rorq%>[varChoose]" value="Uy_Avg"/>
        <label for="test20">Uy_Avg</label>
        </p>
        <p>
        <input type="checkbox" id="test21" name=<%= rorq%>[varChoose]" value="Uz_Avg"/>
        <label for="test21">Uz_Avg</label>
        </p>
        <p>
        <input type="checkbox" id="test22" name=<%= rorq%>[varChoose]" value="Ts_Avg"/>
        <label for="test22">Ts_Avg</label>
        </p>
        <p>
        <input type="checkbox" id="test23" name=<%= rorq%>[varChoose]" value="sonic_azimuth"/>
        <label for="test23">sonic_azimuth</label>
        </p>
        <p>
        <input type="checkbox" id="test24" name=<%= rorq%>[varChoose]" value="sonic_samples_Tot"/>
        <label for="test24">sonic_samples_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test25" name=<%= rorq%>[varChoose]" value="no_sonic_head_Tot"/>
        <label for="test25">no_sonic_head_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test26" name=<%= rorq%>[varChoose]" value="no_new_sonic_data_Tot"/>
        <label for="test26">no_new_sonic_data_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test27" name=<%= rorq%>[varChoose]" value="amp_l_f_Tot"/>
        <label for="test27">amp_l_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test28" name=<%= rorq%>[varChoose]" value="amp_h_f_Tot"/>
        <label for="test28">amp_h_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test29" name=<%= rorq%>[varChoose]" value="sig_lck_f_Tot"/>
        <label for="test29">sig_lck_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test30" name=<%= rorq%>[varChoose]" value="del_T_f_Tot"/>
        <label for="test30">del_T_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test31" name=<%= rorq%>[varChoose]" value="aq_sig_f_Tot"/>
        <label for="test31">aq_sig_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test32" name=<%= rorq%>[varChoose]" value="sonic_cal_err_f_Tot"/>
        <label for="test32">sonic_cal_err_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test33" name=<%= rorq%>[varChoose]" value="Fc_wpl"/>
        <label for="test33">Fc_wpl</label>
        </p>
        <p>
        <input type="checkbox" id="test34" name=<%= rorq%>[varChoose]" value="LE_wpl"/>
        <label for="test34">LE_wpl</label>
        </p>
        <p>
        <input type="checkbox" id="test35" name=<%= rorq%>[varChoose]" value="Hc"/>
        <label for="test35">Hc</label>
        </p>
        <p>
        <input type="checkbox" id="test36" name=<%= rorq%>[varChoose]" value="CO2_stdev"/>
        <label for="test36">CO2_stdev</label>
        </p>
        <p>
        <input type="checkbox" id="test37" name=<%= rorq%>[varChoose]" value="CO2_Ux_cov"/>
        <label for="test37">CO2_Ux_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test38" name=<%= rorq%>[varChoose]" value="CO2_Uy_cov"/>
        <label for="test38">CO2_Uy_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test39" name=<%= rorq%>[varChoose]" value="CO2_Uz_cov"/>
        <label for="test39">CO2_Uz_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test40" name=<%= rorq%>[varChoose]" value="H2O_stdev"/>
        <label for="test40">H2O_stdev</label>
        </p>
        <p>
        <input type="checkbox" id="test41" name=<%= rorq%>[varChoose]" value="H2O_Ux_cov"/>
        <label for="test41">H2O_Ux_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test42" name=<%= rorq%>[varChoose]" value="H2O_Uy_cov"/>
        <label for="test42">H2O_Uy_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test43" name=<%= rorq%>[varChoose]" value="H2O_Uz_cov"/>
        <label for="test43">H2O_Uz_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test44" name=<%= rorq%>[varChoose]" value="Tc_stdev"/>
        <label for="test44">Tc_stdev</label>
        </p>
        <p>
        <input type="checkbox" id="test45" name=<%= rorq%>[varChoose]" value="Tc_Ux_cov"/>
        <label for="test45">Tc_Ux_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test46" name=<%= rorq%>[varChoose]" value="Tc_Uy_cov"/>
        <label for="test46">Tc_Uy_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test47" name=<%= rorq%>[varChoose]" value="Tc_Uz_cov"/>
        <label for="test47">Tc_Uz_cov</label>
        </p>
        <p>
        <input type="checkbox" id="test48" name=<%= rorq%>[varChoose]" value="CO2_mean"/>
        <label for="test48">CO2_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test49" name=<%= rorq%>[varChoose]" value="H2O_mean"/>
        <label for="test49">H2O_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test50" name=<%= rorq%>[varChoose]" value="amb_tmpr_Avg"/>
        <label for="test50">amb_tmpr_Avg</label>
        </p>
        <p>
        <input type="checkbox" id="test51" name=<%= rorq%>[varChoose]" value="amb_press_mean"/>
        <label for="test51">amb_press_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test52" name=<%= rorq%>[varChoose]" value="Tc_mean"/>
        <label for="test52">Tc_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test53" name=<%= rorq%>[varChoose]" value="rho_a_mean"/>
        <label for="test53">rho_a_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test54" name=<%= rorq%>[varChoose]" value="Fc_irga"/>
        <label for="test54">Fc_irga</label>
        </p>
        <p>
        <input type="checkbox" id="test55" name=<%= rorq%>[varChoose]" value="LE_irga"/>
        <label for="test55">LE_irga</label>
        </p>
        <p>
        <input type="checkbox" id="test56" name=<%= rorq%>[varChoose]" value="CO2_wpl_LE"/>
        <label for="test56">CO2_wpl_LE</label>
        </p>
        <p>
        <input type="checkbox" id="test57" name=<%= rorq%>[varChoose]" value="CO2_wpl_H"/>
        <label for="test57">CO2_wpl_H</label>
        </p>
        <p>
        <input type="checkbox" id="test58" name=<%= rorq%>[varChoose]" value="H2O_wpl_LE"/>
        <label for="test58">H2O_wpl_LE</label>
        </p>
        <p>
        <input type="checkbox" id="test59" name=<%= rorq%>[varChoose]" value="H2O_wpl_H"/>
        <label for="test59">H2O_wpl_H</label>
        </p>
        <p>
        <input type="checkbox" id="test60" name=<%= rorq%>[varChoose]" value="irga_samples_Tot"/>
        <label for="test60">irga_samples_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test61" name=<%= rorq%>[varChoose]" value="no_irga_head_Tot"/>
        <label for="test61">no_irga_head_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test62" name=<%= rorq%>[varChoose]" value="no_new_irga_data_Tot"/>
        <label for="test62">no_new_irga_data_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test63" name=<%= rorq%>[varChoose]" value="irga_bad_data_f_Tot"/>
        <label for="test63">irga_bad_data_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test64" name=<%= rorq%>[varChoose]" value="gen_sys_fault_f_Tot"/>
        <label for="test64">gen_sys_fault_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test65" name=<%= rorq%>[varChoose]" value="sys_startup_f_Tot"/>
        <label for="test65">sys_startup_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test66" name=<%= rorq%>[varChoose]" value="motor_spd_f_Tot"/>
        <label for="test66">motor_spd_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test67" name=<%= rorq%>[varChoose]" value="tec_tmpr_f_Tot"/>
        <label for="test67">tec_tmpr_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test68" name=<%= rorq%>[varChoose]" value="src_pwr_f_Tot"/>
        <label for="test68">src_pwr_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test69" name=<%= rorq%>[varChoose]" value="src_tmpr_f_Tot"/>
        <label for="test69">src_tmpr_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test70" name=<%= rorq%>[varChoose]" value="src_curr_f_Tot"/>
        <label for="test70">src_curr_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test71" name=<%= rorq%>[varChoose]" value="irga_off_f_Tot"/>
        <label for="test71">irga_off_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test72" name=<%= rorq%>[varChoose]" value="irga_sync_f_Tot"/>
        <label for="test72">irga_sync_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test73" name=<%= rorq%>[varChoose]" value="amb_tmpr_f_Tot"/>
        <label for="test73">amb_tmpr_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test74" name=<%= rorq%>[varChoose]" value="amb_press_f_Tot"/>
        <label for="test74">amb_press_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test75" name=<%= rorq%>[varChoose]" value="CO2_I_f_Tot"/>
        <label for="test75">CO2_I_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test76" name=<%= rorq%>[varChoose]" value="CO2_Io_f_Tot"/>
        <label for="test76">CO2_Io_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test77" name=<%= rorq%>[varChoose]" value="H2O_I_f_Tot"/>
        <label for="test77">H2O_I_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test78" name=<%= rorq%>[varChoose]" value="H2O_Io_f_Tot"/>
        <label for="test78">H2O_Io_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test79" name=<%= rorq%>[varChoose]" value="CO2_Io_var_f_Tot"/>
        <label for="test79">CO2_Io_var_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test80" name=<%= rorq%>[varChoose]" value="H2O_Io_var_f_Tot"/>
        <label for="test80">H2O_Io_var_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test81" name=<%= rorq%>[varChoose]" value="CO2_sig_strgth_f_Tot"/>
        <label for="test81">CO2_sig_strgth_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test82" name=<%= rorq%>[varChoose]" value="H2O_sig_strgth_f_Tot"/>
        <label for="test82">H2O_sig_strgth_f_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test83" name=<%= rorq%>[varChoose]" value="CO2_sig_strgth_mean"/>
        <label for="test83">CO2_sig_strgth_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test84" name=<%= rorq%>[varChoose]" value="H2O_sig_strgth_mean"/>
        <label for="test84">H2O_sig_strgth_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test85" name=<%= rorq%>[varChoose]" value="T_tmpr_rh_mean"/>
        <label for="test85">T_tmpr_rh_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test86" name=<%= rorq%>[varChoose]" value="e_tmpr_rh_mean"/>
        <label for="test86">e_tmpr_rh_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test87" name=<%= rorq%>[varChoose]" value="e_sat_tmpr_rh_mean"/>
        <label for="test87">e_sat_tmpr_rh_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test88" name=<%= rorq%>[varChoose]" value="H2O_tmpr_rh_mean"/>
        <label for="test88">H2O_tmpr_rh_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test89" name=<%= rorq%>[varChoose]" value="RH_tmpr_rh_mean"/>
        <label for="test89">RH_tmpr_rh_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test90" name=<%= rorq%>[varChoose]" value="rho_a_tmpr_rh_mean"/>
        <label for="test90">rho_a_tmpr_rh_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test91" name=<%= rorq%>[varChoose]" value="Rn_Avg"/>
        <label for="test91">Rn_Avg</label>
        </p>
        <p>
        <input type="checkbox" id="test92" name=<%= rorq%>[varChoose]" value="Rn_meas_Avg"/>
        <label for="test92">Rn_meas_Avg</label>
        </p>
        <p>
        <input type="checkbox" id="test93" name=<%= rorq%>[varChoose]" value="Rain_TE525_Tot"/>
        <label for="test93">Rain_TE525_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test94" name=<%= rorq%>[varChoose]" value="LWS_mV_Avg"/>
        <label for="test94">LWS_mV_Avg</label>
        </p>
        <p>
        <input type="checkbox" id="test95" name=<%= rorq%>[varChoose]" value="LWS_mV_Max"/>
        <label for="test95">LWS_mV_Max</label>
        </p>
        <p>
        <input type="checkbox" id="test96" name=<%= rorq%>[varChoose]" value="LWS_mV_Min"/>
        <label for="test96">LWS_mV_Min</label>
        </p>
        <p>
        <input type="checkbox" id="test97" name=<%= rorq%>[varChoose]" value="WetSeconds"/>
        <label for="test97">WetSeconds</label>
        </p>
        <p>
        <input type="checkbox" id="test98" name=<%= rorq%>[varChoose]" value="WindSpd_WXT_mean"/>
        <label for="test98">WindSpd_WXT_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test99" name=<%= rorq%>[varChoose]" value="WindDir_WXT_mean"/>
        <label for="test99">WindDir_WXT_mean</label>
        </p>
        <p>
        <input type="checkbox" id="test100" name=<%= rorq%>[varChoose]" value="WindDir_WXT_StdDev"/>
        <label for="test100">WindDir_WXT_StdDev</label>
        </p>
        <p>
        <input type="checkbox" id="test101" name=<%= rorq%>[varChoose]" value="AirTemp_WXT_Avg"/>
        <label for="test101">AirTemp_WXT_Avg</label>
        </p>
        <p>
        <input type="checkbox" id="test102" name=<%= rorq%>[varChoose]" value="RH_WXT"/>
        <label for="test102">RH_WXT</label>
        </p>
        <p>
        <input type="checkbox" id="test103" name=<%= rorq%>[varChoose]" value="AirPress_WXT"/>
        <label for="test103">AirPress_WXT</label>
        </p>
        <p>
        <input type="checkbox" id="test104" name=<%= rorq%>[varChoose]" value="Rain_WXT_Tot"/>
        <label for="test104">Rain_WXT_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test105" name=<%= rorq%>[varChoose]" value="Hits_WXT_Tot"/>
        <label for="test105">Hits_WXT_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test106" name=<%= rorq%>[varChoose]" value="PAR_Den_Avg"/>
        <label for="test106">PAR_Den_Avg</label>
        </p>
        <p>
        <input type="checkbox" id="test107" name=<%= rorq%>[varChoose]" value="PAR_Tot_Tot"/>
        <label for="test107">PAR_Tot_Tot</label>
        </p>
        <p>
        <input type="checkbox" id="test108" name=<%= rorq%>[varChoose]" value="panel_tmpr_Avg"/>
        <label for="test108">panel_tmpr_Avg</label>
        </p>
        <p>
        <input type="checkbox" id="test109" name=<%= rorq%>[varChoose]" value="batt_volt_Avg"/>
        <label for="test109">batt_volt_Avg</label>
        </p>
        <p>
        <input type="checkbox" id="test110" name=<%= rorq%>[varChoose]" value="slowsequence_Tot"/>
        <label for="test110">slowsequence_Tot</label>
        </p>
</ul>