<% include ./partials/header.ejs %>
<body class="data_body">
<table class="table">
  <tr>
    <th>Date</th>
    <th>Time</th>

    <% if (typeof variable == 'string' || variable instanceof String) { %>
        <th><%= variable %></th>
    <% } else {  %>
        <% variable.forEach(function(name){ %>
            <th><%= name %></th>
        <%})%>
    <% } %>
    
  </tr>
    <% data.forEach(function(data){ %>
        <tr>
            
            <td><%- fulldate(data.year, data.day) %></td>
            <td><%= data.time %></td>

            <% if (typeof variable == 'string' || variable instanceof String) { %>
                <td><%= data[variable] %></td>
            <% } else {  %>
                <% variable.forEach(function(name){%>
                    <% var tableData = data[name]%>
                    <td><%= tableData%></td>
                <%})%>
            <% } %>

        </tr>
    <% })%>
  
</table>


<br>
<div style="display:flex; margin:0px auto;">
    <button onclick="location.href='/'" class="btn">Back to Homepage</button>
    <button onclick="$('.table').table2csv('download')" class="btn">Download CSV</button>
</div>
<br>
<% include ./partials/footer.ejs %>



